{% extends "tonguetwister/base.html" %}
{% load static %}

{% block content %}

<!-- SECOND SECTION

<div class="p-3 mb-4 bg-light border rounded-3" id="apparatus">
    <div class="container-fluid py-1">
        <h2>Rozgrzej artykulatory</h2>
        <p class="col-md-16 fs-4">Język, wargi, usta są jak akumulator w aucie. Bez odpowiedniego rozgrzania nie odpalisz prawidłowo swojej wymowy.</p>
        <p class="col-md-16 fs-4">

        <p class="d-inline-flex gap-1 justify-content-evenly">
            <button class="btn btn-dark btn-lg text-uppercase fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFirstTen" aria-expanded="false" aria-controls="collapseFirstTen">
                Chcę (pierwsze) dziesięć!
            </button>
            <button class="btn btn-dark btn-lg text-uppercase fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSecondTen" aria-expanded="false" aria-controls="collapseSecondTen">
                Chcę jeszcze dziesięć!
            </button>
        </p>
<div class="collapse" id="collapseFirstTen">
            <div class="card card-body">
<strong>WARGI</strong>
<br>
1. Zrób „dzióbek” z ust. Wykonaj kilka kółek tylko samymi wargami. Głowa jest nieruchoma.
<br>
2. Całusek od żabki. Ułóż usta tak, jakbyś chciał przesłać komuś całusa, trochę przesadnie – możesz też przy tym wydawać dźwięki, cmokać.
<br>
3. Rozciągnij usta w szerokim uśmiechu.
<br>
4. Parskanie - parsknij se jak koń.
<br>
5. Masz wąs? - spróbuj utrzymać długopis między nosem a górną wargę
<br><br>
<strong>JĘZYK</strong>
<br>
1. Wytknij to! Dotknij językiem brody, a potem w unieś w kierunku nosa - naprzemiennie kilka razy.<br>
2. Wytknij to! Dotknij językiem brody, a potem unieś w kierunku prawego ucho - naprzemiennie kilka razy. <br>
3. Wytknij to! Dotknij językiem brody, a potem unieś w kierunku lewego ucha - naprzemiennie kilka razy. <br>
4. Oblizujemy wargi ruchem kolistym, coraz szerzej otwierając usta.<br>
5. Wymów bardzo wyraźnie, przesadnie otwierając buzię; naprzemian samogłoski:
<br>
u - i
<br>
i - o
<br>
e - a    <br>
            </div>
            </div>

        <div class="collapse" id="collapseSecondTen">
            <div class="card card-body">
<strong>WARGI</strong><br>
         6.  Nic nie powiem! Mocno zaciśnij i rozciągnij wargi, aż poczujesz opór w kącikach ust.
<br>
7. Górną wargą zasłoń górne zęby a dolną wargą zasłoń dolne zęby.
<br>
8. Ułóż dolną wargę a górną a górną wargę na dolną.
<br>
9. Żuj gumę. Wykonaj ruch ,,żucia gumy’ z zamkniętymi ustami.
<br>
10. Joker!  Zaokrąglij wargi w kształcie dziubka/ryjka a następnie uśmiechnij się jak Joker - przesadnie, przy zamkniętych ustach.
<br><br>
          <strong>JĘZYK</strong><br>
6. Policz zęby - czubkiem języka dotykaj kolejno zęby górne i dolne.
<br>
7. Ślizgawka - czubek języka ,,ślizga się’’ po podniebieniu; do tyłu i do przodu.
<br>
8. Malarz - Twój język jest jak pędzel, który maluje różne kształty, wystarczy żet tylko go wypchniesz.
<br>
9. Rakieta leci. Język unosi się raz w górę, a raz w dół. Trenuj przy otwartych ustach.
<br>
10. W rytmach li li la. Unieś czubek języka do dziąseł za górnymi zębami i wymawiaj, wyśpiewaj co wolisz - li-li-li-li-la.
            </div>
        </div>
        </p>
        <div class="card text-white bg-secondary mt-3 mb-3 w-100">
            <div class="card-body">
                <p class="text-center mb-0">WoW! Dobra robota! Czujesz ogień w gębie i rozpalenie na kolejne ćwiczenia? To zapraszamy Cię na słówko.</p>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-dark btn-lg text-uppercase fw-bold" href="#articulate">Dalej</a>
        </div>
    </div>
</div>
-->
.
<!-- THIRD SECTION

<div class="p-3 mb-4 bg-light border rounded-3" id="articulate">
    <div class="container-fluid py-1">
        <h2>Właściwie teraz ćwicz głos</h2>
        <p class="col-md-16 fs-4">Podczas wykonywania ćwiczeń pamiętaj, aby się nie spieszyć. Nie opuszczaj końcówek. Nie podnoś głosu ani nie mów zbyt cicho.</p>
        <p class="col-md-16 fs-4">
            ☑️ Powoli, starannie wymawiamy kolejno podane sylaby, zwracając uwagę na prawidłowość wybuchu, czyli rozwarcie.</p>
                <p class="col-md-16 fs-5">Ba, be, bi, bo, bu, by, bą, bę,<br>
                aba, ebe, ibi, obo, ubu, yby, abą, obe<br><br>
                Ma me mi, mo, mu, my, mą, mę<br>
                ama, eme, imo, omo, umu, umy, ama, oma.</p>
        </p>
        <p class="col-md-16 fs-4">
                ☑️ Powtarzamy bardzo szybko zbitki sylab  <br></p>
                <p class="col-md-16 fs-5">Ba, be, bi, bo, bu, by, bą, bę,<br>
                aba, ebe, ibi, obo, ubu, yby, abą, obe<br></p>
        </p>

      <p class="d-inline-flex gap-1 justify-content-evenly">
            <button class="btn btn-dark btn-lg text-uppercase fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFirstFive" aria-expanded="false" aria-controls="collapseFirstFive">
                Chcę (pierwsze) pięć!
            </button>
            <button class="btn btn-dark btn-lg text-uppercase fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSecondFive" aria-expanded="false" aria-controls="collapseSecondFive">
                Chcę jeszcze pięć!
            </button>
        </p>
<div class="collapse" id="collapseFirstFive">
            <div class="card card-body">
1. Wypowiedz na głos te wyrazy. Pamiętaj o przecinkach, robiąc przerwy pomiędzy wyrazami.<br>
Po obiedzie, po biedzie.<br>
U Ani, ułani.<br>
Na uczcie, nauczcie.<br>
Za Anią, za nią, z Anią.<br>
2. Swobodnie wymawiaj: <br>
mniam, mniam, mniam - jakbyś delektował się jakimś smakołykiem.😋<br>
3. Poćwicz dykcję.<br>
Bra bro bre bru bry<br>
Abra obro ebre ubru ybry<br>
Abr obr ebr ubr obr<br>
4. Przeczytaj, przesadnie podkreślając końcówki.<br>
mam,<br>
odłam,<br>
rum,<br>
kot,<br>
odlot,<br>
pot,<br>
miot<br>

5. Mówimy tekst na odpowiednią intencję - radość.<br>
„Proszę pana, proszę pana,<br>
Zaszła u nas wielka zmiana:<br>
Moja starsza siostra Bronka<br>
Zamieniła się w skowronka,<br>
Siedzi cały dzień na buku<br>
I powtarza: kuku, kuku!”<br>
            </div>
            </div>
<div class="collapse" id="collapseSecondFive">
            <div class="card card-body">
6. Dodawaj do głoski m samogłoski, pamiętając o utrzymaniu dźwięku na jednym tonie: <br>
mmmaaa, <br>

mmmooo, <br>

mmmuuu.<br>

mmmeee<br>

mmmiiiiii<br>

mmmyyy<br>

                7. Przeczytaj zdania wolno i wyraźnie oddzielając kończące spółgłoski i samogłoski pomiędzy wyrazami.<br>



Dom mój jodłowy.<br>

List ten nawet trochę zdziwił Łucję.<br>

Blask korony widział Łukasz szczęśliwy.<br>



8. Mówimy tekst na odpowiednią intencję - złość 😡 <br>



Pan pomidor wlazł na tyczkę<br>

I przedrzeźnia ogrodniczkę.<br>

„Jak pan może,<br>

Panie pomidorze?!”<br>



9. Przeczytaj wyrazy wolno i wyraźnie akcentując ,,cz”<br>



czarny,<br>
czuwać,<br>
czekan,<br>
czysty,<br>
cząstka,<br>
część,<br>

zaczarować,<br>
koczownik,<br>
poczucie<br>



                10. Wykrzycz to! Usłysz to i bądź z siebie dumny.<br>



Brawo!<br>

Gratulacje!<br>

Świetnie!<br>
            </div>
            </div>


        <div class="card text-white bg-secondary mt-3 mb-3 w-100">
            <div class="card-body">
                <p class="text-center mb-0">Hurra! Prawdziwa zabawa zaczyna się właśnie teraz. Czy poradzisz sobie z zemstą logopedy?</p>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-dark btn-lg text-uppercase fw-bold" href="#twister">Dalej</a>
        </div>
    </div>
</div>
-->
..
<!-- FOURTH SECTION

<div class="p-3 mb-4 bg-light border rounded-3" id="twister">
    <div class="container-fluid py-1">
        <h2>Zemsta logopedy</h2>
        <p class="col-md-16 fs-4">Łamańce językowe, wierszyki i zdania do samodzielnego ćwiczenia. Życzymy Ci połamania języka.</p>
        {% include 'tonguetwister/partials/gen/list.html' %}
        <div class="card text-white bg-secondary mt-3 mb-3 w-100">
            <div class="card-body">
                <p class="text-center mb-0">Gratulacje od samego Króla Karola i Saszy z suchej Szosy. My też jesteśmy z Ciebie dumni. Mamy nadzieję, że spodobały Ci się językowe potyczki a w nagrodę, sprawdź jaki bonusik na Ciebie czeka.</p>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-dark btn-lg text-uppercase fw-bold" href="#bonus">Dalej</a>
        </div>
    </div>
</div>

 -->
..

        <!-- TIPS & TRICKS
<div class="p-3 mb-4 bg-light border rounded-3" id="bonus">
    <div class="container-fluid py-1">
        <h2>Bonus</h2>
        <p class="col-md-16 fs-4">Kliknij w przycisk, aby otworzyć bonus.</p>
        <p class="col-md-16 fs-4"></p>

        <p class="d-flex gap-1 flex-column">
            <button class="btn btn-dark btn-lg text-uppercase fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTip" aria-expanded="false" aria-controls="collapseTip">
                Porady językowe
            </button>
            <button class="btn btn-dark btn-lg text-uppercase fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFact" aria-expanded="false" aria-controls="collapseFact">
                Ciekawostki językowe
            </button>
            <button class="btn btn-dark btn-lg text-uppercase fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExercise" aria-expanded="false" aria-controls="collapseExercise">
                Dodatkowe ćwiczenia
            </button>
        </p>
        <div class="collapse" id="collapseTip">
            <div class="card card-body">
☑️ Wybierz telefon do przyjaciela zamiast sms. najlepszym sposobem trenowania swojej mowy jest używanie jej, przy każdej możliwej okazji.
<br>
☑️ Po co ćwiczyć swój głos?
<br>
- budowanie pewności siebie<br>
- mówiąc lepiej staniesz się skuteczniejszym: sprzedawcą, partnerem, rodzicem.<br>
- pracując nad głosem - rozwijasz nie tylko umiejętność mówienia ale też słuchania.<br>
- możesz zwiększyć wytrzymałość swojego głosu. Jest to szczególnie ważne, jeśli pracujesz głosem.<br>
☑️ Za co Twój głos będzie Ci wdzięczny?<br>
- śpij minimum 7 godzin dziennie.<br>
- odpoczywaj.<br>
- pij dużo niegazowej wody.<br>
- zadbaj o odpowiednią wilgotność pomieszczeń, szczególnie sypialni.<br>

☑️ Do ćwiczeń emocji głosu możesz użyć też przedmiotów, takich jak: korek po winie, papierki, chusteczki. A do ćwiczeń ust: kremy czekoladowe lub błyszczyki.
<br>
☑️ Lekki uśmiech! dzięki niemu każdy głos zabrzmi milej, a wypowiedź stanie się bardziej wiarygodna.
<br>
☑️ Czego nie znosi Twój głos?
- dymu, papierosów – uszkadza to błony śluzowe.
<br>
- nadmiaru kofeiny, słodkich i gazowanych napojów, które wysuszają gardło.
<br>
- zbyt częstego odchrząkiwania – nadweręża to struny głosowe - zamiast tego wypij szklankę wody
<br>
☑️ Czy wiesz, że obniżony głos wzbudza większe zaufanie? Mówiąc lekko obniżonym głowę staniesz się również bardziej wiarygodny i atrakcyjny.
<br>
☑️ Zapamiętaj! Chrypka, ból gardła, dyskomfort czy poważniejsze problemy takie jak jąkanie, seplenienie czy problemy z mową to zawsze sygnał do tego, aby skonsultować się ze specjalistą i przerwać ćwiczenia.
            </div>
        </div>
        <div class="collapse" id="collapseFact">
            <div class="card card-body">
☑️ W dawnych czasach, Demostenes pracował nad wyraźnym mówieniem, trzymając kamienie w ustach.
<br>
☑️ Jakość naszego głosu zależy w dużej mierze od Naszego nastawienia do otoczenia. Na tworzenie głosu wypływa również przekonanie o Nas samych i to czy oraz jak chcemy komunikować się z innymi.
<br>
☑️ Ćwiczenia oddechowe poprawiają nie tylko jakość oddychania ale też regulują akcję serca i przemianę materii.
<br>
☑️ Ćwiczenia emisji głosu pozwalają utrzymać prawidłową postawę ciała. Pamiętaj o tym aby trzymać się prosto!
<br>
☑️ Polacy mają dużą słabość do tworzenia nowych słów czyli neologizmów. Uwielbiamy też zdrabniać słowa.
<br>
☑️ Język polski; obok chińskiego, węgierskiego i fińskiego - to jeden z najtrudniejszych do nauki języków świata? 👏
<br>
☑️ Polski alfabet wynosi 32 litery.
<br>
☑️ Pierwsze polskie zdanie brzmi: ,, Daj, ać ja pobruszę, a ty poczywaj”, co oznacza „Pozwój, niech ja pomielę, a ty odpocznij” Ta fraza pochodząca z XIII wieku opisuje fragment życia codziennego małżeństwa z tamtych czasów.
            </div>
        </div>
         <div class="collapse" id="collapseExercise">
            <div class="card card-body">

☑️ Wypowiedz na głos te wyrazy. Pamiętaj o przecinkach, robiąc przerwy pomiędzy wyrazami.<br>



Za Iną, z Iną, z inną.<br>

Za Iną stała długa kolejka.<br>

Z Iną warto porozmawiać.
<br>
Jadę z inną dziewczyną na wakacje.
<br>


Za uchem, zuchem, z uchem.
<br>
Za uchem brzęczała mucha.
<br>
Jestem zuchem z wielkim uchem.
<br>
Miś z uchem lekko burym.
<br>


☑️ Dodawaj do głoski m samogłoski, pamiętając o utrzymaniu dźwięku na jednym tonie:
<br>


nnnaaa
<br>
nnnooo
<br>
nnnuuu
<br>
nnneee
<br>
nnniii
<br>
nnnyyy
<br>


☑️ Połącz samogłoski z imionami
<br>
(i)Ala
<br>
(i)Ela
<br>
(i)Irka
<br>


(a)Ala
<br>
(a)Ela
<br>
(a)Irka
<br>


☑️ Ćwicz dykcję
<br>
Ża aża żo że
<br>
Eże żu ożo ży
<br>
Yży ożo użu
<br>


☑️ Przeczytaj, przesadnie podkreślając końcówki
<br>
lek,<br>
lok,<br>
kruk,<br>
bok,<br>



☑️ Przeczytaj zdania wolno i wyraźnie oddzielając kończące spółgłoski i samogłoski pomiędzy wyrazami.
<br>


Chór rybaków wołał, łódź dziobem malowanym majaczyła w mroku.
<br>
Kres sennego oszołomienia.
<br>
Mróz zelżał, bez zwłoki idźmy.
<br>


☑️ Mówimy tekst na odpowiednią intencję.
<br>
😔Smutek
<br>
🥱Znudzenie
<br>


(Fragment ,,Kłamczucha’’ J. Brzechwa)
<br>


„Proszę pana, proszę pana,<br>
Zaszła u nas wielka zmiana:<br>
Moja starsza siostra Bronka<br>
Zamieniła się w skowronka,<br>
Siedzi cały dzień na buku<br>
I powtarza: kuku, kuku!”<br>


<br>
(Fragment ,,Na straganie””J. Brzechwa)
<br>


Pan pomidor wlazł na tyczkę
<br>
I przedrzeźnia ogrodniczkę.
<br>
„Jak pan może,
<br>
Panie pomidorze?!”
<br>
            </div></div>

        <div class="card text-white bg-secondary mt-3 mb-3 w-100">
            <div class="card-body">
                <p class="text-center mb-0">Na ten moment jest to koniec przygody, mamy nadzieję, że Ci się podobało i zapraszamy ponownie :)</p>
            </div>
        </div>
    </div>
</div>-->
{% endblock %}