{% extends "tonguetwister/base.html" %}

{% block content %}
  <h4>Ćwiczenia dykcji wykonuje się w celu poprawy jakości artykulacji głosek,
wypracowania sprawności oraz precyzji działania ruchomych elementów aparatu
artykulacyjnego. Ćwiczenia dykcji należy wykonywać również jako formę „rozgrzania”
głosu i aparatu artykulacyjnego- przygotowania do zadania związanego posługiwaniem
się głosem w mowie, czy w śpiewie. Ćwiczenia dykcji przynoszą korzyść natychmiastową
oraz długoterminową, pod warunkiem, że są wykonywane systematycznie w długim
okresie czasu.



  </h4>
{% endblock %}
