{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LingwoŁamki - przedłuż swój język - Kontakt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
</head>
<body>
<button class="btn" onclick="topFunction()" id="topBtn"><i class="fa fa-arrow-up"></i></button>

<header>
    {% include 'tonguetwister/partials/static/navbar.html' %}
</header>

<div class="container mt-3">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>

<div class="container mt-5">
    <h1>Puść nam gołębia</h1>
    <form method="post" novalidate>
        {% csrf_token %}
         <div class="form-group">
             <label for="name">Jak Ci na imię?</label>
             <input type="text" class="form-control" id="name" name="name" required>
         </div>
         <div class="form-group">
             <label for="email">Skrobnij adres skrzynki:</label>
             <input type="text" class="form-control" id="email" name="email" required>
         </div>
         <div class="form-group">
             <label for="message">Miejsce na Twoją wiadomość:</label>
             <input type="text" class="form-control" id="message" name="message" required
               style="width: 100%; padding: 1rem; font-size: 1rem; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box; height: 10rem;">
         </div><br>

    <button type="submit" class="btn btn-dark btn-block" style="height: 50px; font-size: 18px;"><a class="navbar-brand" href="/"><img src="{% static 'assets/ttlogo.png' %}" alt="" width="24" height="24" class="d-inline-block align-text-top"> Wyślij</a></button>
    </form>
</div>
<div class="materials col-md-16 fs-4">
    <ul style="list-style: none;">
        <li><strong>Zawartość aplikacji oparto o następujące materiały:</strong></li>
        <li>- Ciecierska-Zajdel, B. (2012). <em>Trening głosu. Praktyczny kurs dobrego mówienia.</em> Samp.</li>
        <li>- Kram, J. (1995). <em>Zarys kultury żywego słowa.</em> WSiP Warszawa.</li>
        <li>- <a href="https://docer.pl/doc/en5ex5x/" style="color: inherit; text-decoration: none;"
         onmouseover="this.style.textDecoration='underline'"
         onmouseout="this.style.textDecoration='none'">Ćwiczenia płynności mowy - samogłoski w zdaniach</a></li>
        <li>- <a href="https://zasobyip2.ore.edu.pl/pl/publications/download/10957" style="color: inherit; text-decoration: none;"
         onmouseover="this.style.textDecoration='underline'"
         onmouseout="this.style.textDecoration='none'">Zeszyt naukowy nr 6(2011) - emisja głosu.pdf</a></li>
        <li>- <a href="https://www.youtube.com/watch?v=UxLRv0FEndM" style="color: inherit; text-decoration: none;"
         onmouseover="this.style.textDecoration='underline'"
         onmouseout="this.style.textDecoration='none'">TED - Why we laugh | Sophie Scott</a></li>
        <li>- <a href="https://pl.wikiquote.org/wiki/Łamańce_językowe" style="color: inherit; text-decoration: none;"
         onmouseover="this.style.textDecoration='underline'"
         onmouseout="this.style.textDecoration='none'">Wiki - Łamańce językowe</a></li>
        <li>- <a href="https://strefalogopedy.pl/" style="color: inherit; text-decoration: none;"
         onmouseover="this.style.textDecoration='underline'"
         onmouseout="this.style.textDecoration='none'">Strefa logopedy</a></li>
        <li><strong>oraz własne doświadczenia.</strong></li>
    </ul>
</div>
<div class="info col-md-16 fs-4">
    <ul style="list-style: none;">
        <li><strong>Stworzono z wykorzystaniem:</strong></li>
        <li>- Python 3.10 (język programowania)</li>
        <li>- Django 4.2.11 (framework)</li>
        <li>- PostgreSQL 16.1 (baza danych)</li>
        <li>- HTML, CSS&Bootstrap i JavaScript (front-end)</li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
