{% load static %}

<h2>Cześć!</h2>
<p class="col-md-16 fs-4">Czy marzysz o tym, aby Twój głos był silny, a słowa wyraźnie docierały do wszystkich? Dobrze, że tu jesteś! TongueTwister to aplikacja, która ma dla Ciebie zestaw ćwiczeń artykulacyjnych, głosowych i oddechowych. Poprawna wymowa zwiększy Twoje umiejętności komunikacyjne, a Ty zyskasz pewność siebie. Usłysz swój głos i nabierz lekkości oraz swobody w mówieniu do siebie i innych.</p>
<br>
<p class="col-md-16 fs-4"><strong>Zaczynamy? Przesuń palcem, przeciągnij myszką, albo kliknij strzałkę w prawo :)</strong></p>