{% load static %}

<h1><strong>SERWUS! 🤓</strong></h1>
        <p>Czy wiesz, że staropolskie {{ old.old_text }} można przetłumaczyć jako {{ old.new_text }}?</p>
<p class="col-md-16 fs-4">Marzysz o tym, aby Twój głos był silny, a słowa wyraźnie docierały do wszystkich? 💬 Dobrze, że tu jesteś! <img src="{% static 'assets/ttlogo.png' %}" alt="" width="28" height="28" class="d-inline-block align-text-top"> <strong>LingwoŁamki</strong> to aplikacja, która ma dla Ciebie zestaw ćwiczeń artykulacyjnych 👄 głosowych 🗣️ i oddechowych 🥱<br>Usłysz swój głos 🎤 i nabierz lekkości oraz swobody w mówieniu do siebie i innych.</p>
<div class="card text-white bg-secondary mt-3 mb-3 w-100">
    <div class="card-body"><p class="text-center mb-0">Zaczynamy? 🚀 Śmiało, przesuń palcem lub przeciągnij myszką ➡️</p></div>
</div>
<p class="col-md-16 fs-4">Pssst 🤫 zarejestruj się, aby brać udział w rankingach i dodawać swoje ulubione ćwiczenia do powtórki 🤠 </p>