{% load static %}

<footer class="p-4 bg-dark text-white text-center footer" id="footer">
    <img src="{% static 'assets/ttlogo.png' %}" alt="" width="90" height="72" class="d-inline-block align-text-center"><br>
    <div class="container">
        <p>Copyright &copy; <a href="mailto:p.paulinasledz@gmail.com" class="text-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Paulina Śledź</a> & <a href="mailto:waleron@gmail.com" class="text-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Michał Walerowicz</a> 2024</p>
        <p class="small">Stworzono z wykorzystaniem:<br>Python 3.10 (język programowania), Django 4.2.11 (framework), PostgreSQL 16.1 (baza danych), HTML, CSS&Bootstrap i JavaScript (front-end).</p>
    </div>
</footer>