{% load static %}

<h2>Właściwie teraz ćwicz głos</h2>
        <p class="col-md-16 fs-4">Podczas wykonywania ćwiczeń pamiętaj, aby się nie spieszyć. Nie opuszczaj końcówek. Nie podnoś głosu ani nie mów zbyt cicho.</p>
        <p class="col-md-16 fs-4">
            ☑️ Powoli, starannie wymawiamy kolejno podane sylaby, zwracając uwagę na prawidłowość wybuchu, czyli rozwarcie.</p>
                <p class="col-md-16 fs-5">Ba, be, bi, bo, bu, by, bą, bę,<br>
                aba, ebe, ibi, obo, ubu, yby, abą, obe<br><br>
                Ma me mi, mo, mu, my, mą, mę<br>
                ama, eme, imo, omo, umu, umy, ama, oma.</p>
        </p>
        <p class="col-md-16 fs-4">
                ☑️ Powtarzamy bardzo szybko zbitki sylab  <br></p>
                <p class="col-md-16 fs-5">Ba, be, bi, bo, bu, by, bą, bę,<br>
                aba, ebe, ibi, obo, ubu, yby, abą, obe<br></p>
        </p>

<div id="exercises-container">
    {% for exercise in exercises %}
    <div class="exercise col-md-16 fs-4">{{ exercise.text }}</div>
    {% endfor %}
</div>
<button id="load-more-exercises-btn" class="btn btn-dark btn-lg text-uppercase fw-bold">Więcej</button>

        <div class="card text-white bg-secondary mt-3 mb-3 w-100">
            <div class="card-body">
                <p class="text-center mb-0">Hurra! Prawdziwa zabawa zaczyna się właśnie teraz. Czy poradzisz sobie z zemstą logopedy?</p>
            </div>
        </div>