{% load static %}

<div class="collapse" id="navbarToggleExternalContentPlus" data-bs-theme="dark">
  <div class="bg-dark p-4">
      <a href="{% url 'articulator_list' %}" class="btn btn-outline-secondary text-white link-offset-2 text-decoration-none" role="button" type="articulator-list">Zarządzaj artykulatorami</a>
      <a href="{% url 'exercise_list' %}" class="btn btn-outline-secondary text-white link-offset-2 text-decoration-none" role="button" type="exercise-list">Zarządzaj ćwiczeniami</a>
      <a href="{% url 'twister_list' %}" class="btn btn-outline-secondary text-white link-offset-2 text-decoration-none" role="button" type="twister-list">Zarządzaj łamańcami</a>
      <a href="{% url 'trivia_list' %}" class="btn btn-outline-secondary text-white link-offset-2 text-decoration-none" role="button" type="trivia-list">Zarządzaj poradami</a>
      <a href="{% url 'funfact_list' %}" class="btn btn-outline-secondary text-white link-offset-2 text-decoration-none" role="button" type="funfact-list">Zarządzaj ciekawostkami</a>
      <a href="{% url 'oldpolish_list' %}" class="btn btn-outline-secondary text-white link-offset-2 text-decoration-none" role="button" type="funfact-list">Zarządzaj staropolszczyzną</a>
  </div>
</div>

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
        <a class="navbar-brand" href="/"><img src="{% static 'assets/ttlogo.png' %}" alt="" width="28" height="28" class="d-inline-block align-text-top"> LingwoŁamki</a>
    </div>
    <div class="ml-auto">
      {% if user.is_authenticated %}
        {% if user.profile.avatar %}
          <a class="btn" href="{% url 'user_content' %}" aria-label="user"><img src="{{ user.profile.avatar.url }}" alt="avatar" class="rounded-circle" width="24" height="24"></a>
        {% else %}
          <a class="btn btn-outline-secondary d-none d-lg-inline" href="{% url 'user_content' %}" style="color: white;">Profil</a>
          <a class="btn btn-outline-secondary d-lg-none" href="{% url 'user_content' %}" aria-label="user"><img src="{% static 'assets/profile.svg' %}" alt="" width="24" height="24" class="d-inline-block align-text-top"></a>
        {% endif %}
      <a class="btn btn-outline-secondary d-none d-lg-inline" href="{% url 'logout' %}" style="color: white;">Wyloguj</a>
      <a class="btn btn-outline-secondary d-lg-none" href="{% url 'logout' %}" aria-label="logout"><img src="{% static 'assets/logout.svg' %}" alt="" width="24" height="24" class="d-inline-block align-text-top"></a>
      <a class="btn btn-outline-secondary d-none d-lg-inline" href="{% url 'contact' %}" style="color: white;">Kontakt</a>
      <a class="btn btn-outline-secondary d-lg-none" href="{% url 'contact' %}" aria-label="contact"><img src="{% static 'assets/envelope.svg' %}" alt="" width="24" height="24" class="d-inline-block align-text-top"></a>
      {% if user.is_superuser %}
      <button class="navbar-toggler centered-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContentPlus" aria-controls="navbarToggleExternalContentPlus" aria-expanded="false" aria-label="settings" style="border: none;">
         <a class="navbar-brand" href="#"><img src="{% static 'assets/settings.svg' %}" alt="" width="24" height="24" class="d-inline-block align-text-top"></a>
    </button>
      {% endif %}
      {% else %}
      <a class="btn btn-outline-secondary d-none d-lg-inline" href="{% url 'login' %}" style="color: white;">Logowanie</a>
      <a class="btn btn-outline-secondary d-lg-none" href="{% url 'login' %}" aria-label="login"><img src="{% static 'assets/login.svg' %}" alt="" width="24" height="24" class="d-inline-block align-text-top"></a>
      <a class="btn btn-outline-secondary d-none d-lg-inline" href="{% url 'contact' %}" style="color: white;">Kontakt</a>
      <a class="btn btn-outline-secondary d-lg-none" href="{% url 'contact' %}" aria-label="contact"><img src="{% static 'assets/envelope.svg' %}" alt="" width="24" height="24" class="d-inline-block align-text-top"></a>
      {% endif %}
    </div>
  </div>
</nav>
