{% load static %}

<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <h6 class="text-body-emphasis">Copyright &copy; <a href="mailto:p.paulinasledz@gmail.com" class="text-white link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Paulina Śledź</a> & <a href="mailto:waleron@gmail.com" class="text-white link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Michał Walerowicz</a> 2024</h6>
    <span class="text-body-secondary">Stworzono z wykorzystaniem: Python 3.10 (język programowania), Django 4.2.11 (framework), PostgreSQL 16.1 (baza danych), HTML, CSS&Bootstrap i JavaScript (front-end).</span>
  </div>
</div>
<div class="collapse" id="navbarToggleExternalContentPlus" data-bs-theme="dark">
  <div class="bg-dark p-4">
    <ul>
      <li><a href="{% url 'articulator_list' %}" class="text-white link-offset-2 text-decoration-none">Zarządzaj artykulatorami</a></li>
      <li><a href="{% url 'exercise_list' %}" class="text-white link-offset-2 text-decoration-none">Zarządzaj ćwiczeniami</a></li>
      <li><a href="{% url 'twister_list' %}" class="text-white link-offset-2 text-decoration-none">Zarządzaj łamańcami</a></li>
      <li><a href="{% url 'trivia_list' %}" class="text-white link-offset-2 text-decoration-none">Zarządzaj poradami</a></li>
      <li><a href="{% url 'funfact_list' %}" class="text-white link-offset-2 text-decoration-none">Zarządzaj ciekawostkami</a></li>
    </ul>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <a class="navbar-brand" href="#"><img src="{% static 'assets/ttlogo.png' %}" alt="" width="30" height="24" class="d-inline-block align-text-top">
      TongueTwister</a>
    </button>
    <button class="navbar-toggler centered-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContentPlus" aria-controls="navbarToggleExternalContentPlus" aria-expanded="false" aria-label="Toggle navigation">
      <a class="navbar-brand" href="#"></a>
    </button>
  </div>
</nav>