{% load static %}

<p class="col-md-16 fs-4">Zachęcamy Ciebie do codziennych ćwiczeń 🏋️<br>Zacznij już teraz od rozgrzewki i <strong>wykonaj po 10 krążeń głową</strong> do przodu 🙂‍↕️ do tyłu i w bok 🙂‍↔️</p>
<div class="card text-white bg-secondary mt-3 mb-3 w-100">
    <div class="card-body">
        <p class="text-center mb-0">Te ćwiczenia dodały Ci energii 💪 i zmiejszyły napięcie? 😅 Gratulacje! 🙌</p>
    </div>
</div>
<p class="col-md-16 fs-4">Twój głos zabrzmi teraz lepiej. Sprawdź to i zacznij … ziewać! 🥱<br>Tak, właśnie teraz otwórz szeroko buzię, przeciągnij się i pozwól sobie wydać kilka dzikich dźwięków 😮‍💨 Możesz też zacząć mlaskać albo mruczeć.</p>
