{% load static %}

<p class="col-md-16 fs-4">Zachęcamy Cię do codziennych potyczek 🤼<br>Zacznij od rozgrzewki i <strong>wykonaj 5 ruchów głową</strong> w przód i tył ↕️ a jak dasz radę, kolejne 5 w lewo i prawo ‍↔️</p>
<div class="card text-white bg-secondary mt-3 mb-3 w-100">
    <div class="card-body">
        <p class="text-center mb-0">Te ćwiczenia dodały Ci energii 💪 i zmniejszyły napięcie? 😅 Gratulacje!</p>
    </div>
</div>
<p class="col-md-16 fs-4">Twój głos zabrzmi teraz lepiej. Sprawdź to - <strong>zacznij … ziewać!</strong> 🥱<br>Otwórz szeroko buzię, przeciągnij się, pozwól sobie wydać kilka dzikich dźwięków 😮‍💨 Możesz też zacząć mlaskać albo mruczeć 😸</p>
