{% load static %}

<h2>Bonus</h2>
        <p class="col-md-16 fs-4">Kliknij w przycisk, aby otworzyć bonus.</p>
        <p class="col-md-16 fs-4"></p>
<div id="trivia-container">
    {% for record in trivua %}
    <div class="one-trivia col-md-16 fs-4">{{ record.text }}</div>
    {% endfor %}
</div>

<button id="load-more-trivia-btn" class="btn btn-dark btn-lg text-uppercase fw-bold">Porady językowe</button>
<div id="funfacts-container">
    {% for funfact in funfacts %}
    <div class="funfact col-md-16 fs-4">{{ funfact.text }}</div>
    {% endfor %}
</div>
<button id="load-more-funfacts-btn" class="btn btn-dark btn-lg text-uppercase fw-bold">Ciekawostki</button>


        <div class="card text-white bg-secondary mt-3 mb-3 w-100">
            <div class="card-body">
                <p class="text-center mb-0">Na ten moment jest to koniec przygody, mamy nadzieję, że Ci się podobało i zapraszamy ponownie :)</p>
            </div>
        </div>