{% load static %}

      <h2>Rozgrzej artykulatory</h2>
        <p class="col-md-16 fs-4">Język, wargi, usta są jak akumulator w aucie. Bez odpowiedniego rozgrzania nie odpalisz prawidłowo swojej wymowy.</p>
        <p class="col-md-16 fs-4">

        <p class="d-inline-flex gap-1 justify-content-evenly">
            <button class=" btn-change btn btn-dark btn-lg text-uppercase fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFirstTen" aria-expanded="false" aria-controls="collapseFirstTen">
                Chcę (pierwsze) dziesięć!
            </button>
            <button class="btn-change slider-button btn btn-dark btn-lg text-uppercase fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSecondTen" aria-expanded="false" aria-controls="collapseSecondTen">
                Chcę jeszcze dziesięć!
            </button>
        </p>
<div class="collapse" id="collapseFirstTen">
            <div class="card card-body">
                <p class="text-dark">

<strong>WARGI</strong>
<br>
1. Zrób „dzióbek” z ust. Wykonaj kilka kółek tylko samymi wargami. Głowa jest nieruchoma.
<br>
2. Całusek od żabki. Ułóż usta tak, jakbyś chciał przesłać komuś całusa, trochę przesadnie – możesz też przy tym wydawać dźwięki, cmokać.
<br>
3. Rozciągnij usta w szerokim uśmiechu.
<br>
4. Parskanie - parsknij se jak koń.
<br>
5. Masz wąs? - spróbuj utrzymać długopis między nosem a górną wargę
<br><br>
<strong>JĘZYK</strong>
<br>
1. Wytknij to! Dotknij językiem brody, a potem w unieś w kierunku nosa - naprzemiennie kilka razy.<br>
2. Wytknij to! Dotknij językiem brody, a potem unieś w kierunku prawego ucho - naprzemiennie kilka razy. <br>
3. Wytknij to! Dotknij językiem brody, a potem unieś w kierunku lewego ucha - naprzemiennie kilka razy. <br>
4. Oblizujemy wargi ruchem kolistym, coraz szerzej otwierając usta.<br>
5. Wymów bardzo wyraźnie, przesadnie otwierając buzię; naprzemian samogłoski:
<br>
u - i
<br>
i - o
<br>
                    e - a    <br></p>
            </div>
            </div>

        <div class="collapse" id="collapseSecondTen">
            <div class="card card-body"><p class="text-dark">
<strong>WARGI</strong><br>
         6.  Nic nie powiem! Mocno zaciśnij i rozciągnij wargi, aż poczujesz opór w kącikach ust.
<br>
7. Górną wargą zasłoń górne zęby a dolną wargą zasłoń dolne zęby.
<br>
8. Ułóż dolną wargę a górną a górną wargę na dolną.
<br>
9. Żuj gumę. Wykonaj ruch ,,żucia gumy’ z zamkniętymi ustami.
<br>
10. Joker!  Zaokrąglij wargi w kształcie dziubka/ryjka a następnie uśmiechnij się jak Joker - przesadnie, przy zamkniętych ustach.
<br><br>
          <strong>JĘZYK</strong><br>
6. Policz zęby - czubkiem języka dotykaj kolejno zęby górne i dolne.
<br>
7. Ślizgawka - czubek języka ,,ślizga się’’ po podniebieniu; do tyłu i do przodu.
<br>
8. Malarz - Twój język jest jak pędzel, który maluje różne kształty, wystarczy żet tylko go wypchniesz.
<br>
9. Rakieta leci. Język unosi się raz w górę, a raz w dół. Trenuj przy otwartych ustach.
<br>
10. W rytmach li li la. Unieś czubek języka do dziąseł za górnymi zębami i wymawiaj, wyśpiewaj co wolisz - li-li-li-li-la.</p>
            </div>
        </div>
        </p>
        <div class="card text-white bg-secondary mt-3 mb-3 w-100">
            <div class="card-body">
                <p class="text-center mb-0">WoW! Dobra robota! Czujesz ogień w gębie i rozpalenie na kolejne ćwiczenia? To zapraszamy Cię na słówko.</p>
            </div>
        </div>