{% load static %}

      <h2>Rozgrzej artykulatory</h2>
        <p class="col-md-16 fs-4">Język, wargi, usta są jak akumulator w aucie. Bez odpowiedniego rozgrzania nie odpalisz prawidłowo swojej wymowy.</p>
        <p class="col-md-16 fs-4">

 <div id="records-container">
        {% for articulator in records %}
            <div class="record col-md-16 fs-4">{{ articulator.text }}</div>
        {% endfor %}
    </div><br>
    <button id="load-more-btn" class="btn btn-dark btn-lg text-uppercase fw-bold">Więcej</button>

        <div class="card text-white bg-secondary mt-3 mb-3 w-100">
            <div class="card-body">
                <p class="text-center mb-0">WoW! Dobra robota! Czujesz ogień w gębie i rozpalenie na kolejne ćwiczenia? To zapraszamy Cię na słówko.</p>
            </div>
        </div>